In [2]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.0.3-cp38-cp38-win_amd64.whl (179 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.0.3

# 創建資料表

In [15]:
import MySQLdb

db = MySQLdb.connect("localhost","root","123456","mysql_prj")

cursor = db.cursor()

## 1.將如果STUDENTS資料表存在，將STUDENTS資料表丟棄

cursor.execute('Drop TABLE IF EXISTS STUDENTS ')

## 2.創建STUDENTS資料表，資料表欄位如下
'''
| ID INT(11) | NAME CHAR(20) | GENDER CHAR(20) | CHINESE CHAR(20) | ENGLISH CHAR(20) | MATH CHAR(20) | SOCIAL_SCIENCE CHAR(20) | SCIENCE  CHAR(20) |

PRIMARY KEY = ID
CHARSET = utf8

'''
sql = """CREATE TABLE STUDENTS (
         ID INT(11) NOT NULL AUTO_INCREMENT,
         NAME  CHAR(20) NOT NULL,
         GENDER CHAR(20) NOT NULL,
         CHINESE CHAR(20),  
         ENGLISH CHAR(20) NOT NULL,
         MATH CHAR(20) NOT NULL,
         SOCIAL_SCIENCE CHAR(20) NOT NULL,
         SCIENCE CHAR(20) NOT NULL,
         PRIMARY KEY  (ID)
         )DEFAULT CHARSET=utf8"""

cursor.execute(sql)

db.close()

# 手key學生成績到資料庫內  
請手動輸入以下兩位學生成績  
name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86  
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

In [18]:
import MySQLdb

db = MySQLdb.connect("localhost","root","123456","mysql_prj" )

cursor = db.cursor()

print("enter students score")
while True:

    student_name = input("enter name: ")
    student_gender = input("enter gender: ")
    student_chinese = input("enter chinese score: ")
    student_english = input("enter english score: ")
    student_math = input("enter math score: ")
    student_social_science = input("enter social science score: ")
    student_science = input("enter science score: ")
    
    ## 3.將student_name, student_gender, student_chinese, ......插入到資料庫
    x = (student_name, student_gender, student_chinese, student_english, student_math, student_social_science, student_science)
    sql = """INSERT INTO STUDENTS(NAME,
         GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
         VALUES (%s, %s, %s, %s, %s, %s, %s)"""
    try:
        cursor.execute(sql, x)
        db.commit()
    except:
        db.rollback()
    again = input("continue(y/n)? ")
    if again[0].lower() == "n":
        break

db.close()

enter students score
enter name: isaac
enter gender: m
enter chinese score: 10
enter english score: 20
enter math score: 30
enter social science score: 40
enter science score: 50
continue(y/n)? y
enter name: amy
enter gender: f
enter chinese score: 11
enter english score: 12
enter math score: 13
enter social science score: 14
enter science score: 15
continue(y/n)? n

# 查詢目前資料庫所有內容

In [23]:
import MySQLdb

db = MySQLdb.connect("localhost","root","123456","mysql_prj")


cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"

## 4.查詢目前資料庫所有內容
try:
    cursor.execute(sql)
    result = cursor.fetchall()

    for row in result:
        student_id = row[0]
        student_name = row[1]
        student_gender = row[2]
        student_chinese = row[3]
        student_english = row[4]
        student_math = row[5]
        student_social_science = row[6]
        student_science = row[7]
        print('name: {}, gender: {}, chinese: {}, english: {}, math: {}, social_science: {}, science: {}'
              .format(student_name, student_gender, student_chinese, student_english, student_math, student_social_science,student_science))
    db.commit()

except:
    db.rollback()

    
db.close()

name: isaac, gender: m, chinese: 10, english: 20, math: 30, social_science: 40, science: 50
name: amy, gender: f, chinese: 11, english: 12, math: 13, social_science: 14, science: 15

# 使用csv檔案，大量匯入全班成績

In [26]:
import MySQLdb
db = MySQLdb.connect("localhost","root","123456","mysql_prj" )
cursor = db.cursor()
sql = """INSERT INTO STUDENTS(NAME,
         GENDER, CHINSES, ENGLISH, MATH,
         SOCIAL_SCIENCE, SCIENCE)
         VALUES ( %s, %s, %s, %s, %s)"""
## 5.將exam_score.csv所有學生成績插入資料庫
with open('exam_score.csv') as f:
    for index, i in enumerate(f.readlines()):
        if index == 0: 
            continue
        x = tuple(i.strip().split(','))
        print('insert {} data......'.format(x[0]))
        
        sql = """INSERT INTO STUDENTS
            (NAME, GENDER, CHINESE, ENGLISH, MATH, SOCIAL_SCIENCE, SCIENCE)
            VALUES (%s, %s, %s, %s, %s, %s, %s)"""
        
        try:
            cursor.execute(sql, x)
            db.commit()
        except:
            db.rollback()
    
db.close()

insert loe data......
insert judy data......
insert lily data......
insert evan data......
insert joyce data......
insert yoshi data......
insert amber data......
insert alex data......
insert sophia data......

# 將sophia英文成績改成99

In [28]:
import MySQLdb

db = MySQLdb.connect("localhost","root","123456","mysql_prj" )

cursor = db.cursor()

## 6.將sophia英文成績改成99
sql = "UPDATE STUDENTS SET ENGLISH = 99 WHERE NAME = '%s'" % ('sophia')

try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

db.close()

# 計算各科平均

In [29]:
import MySQLdb

db = MySQLdb.connect("localhost","root","123456","mysql_prj" )

cursor = db.cursor()


sql = "SELECT * FROM STUDENTS"
chinese_avg = 0
english_avg = 0
math_avg = 0
social_science_avg = 0
science_avg = 0

try:
    
    cursor.execute(sql)

    results = cursor.fetchall()
    num_students = len(results)
    ## 7.計算各個科目平均成績
    for rows in results:
        chinese_avg += float(rows[3])
        english_avg += float(rows[4])
        math_avg += float(rows[5])
        social_science_avg += float(rows[6])
        science_avg += float(rows[7])
except:
    print("Error: unable to fecth data")

print('chinese_avg: {}'.format(chinese_avg/num_students))
print('english_avg: {}'.format(english_avg/num_students))
print('math_avg: {}'.format(math_avg/num_students))
print('social_science_avg: {}'.format(social_science_avg/num_students))
print('science_avg: {}'.format(science_avg/num_students))

db.close()

chinese_avg: 49.09090909090909
english_avg: 50.72727272727273
math_avg: 50.63636363636363
social_science_avg: 49.0
science_avg: 53.45454545454545